<a href="https://colab.research.google.com/github/wang-hsoo/python/blob/main/%EB%94%95%EC%85%98%EB%84%88%EB%A6%AC%2C%EC%84%B8%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##튜플
- tuple : ( ) 
- 변경 불가능
- 순서가 있다 : index 사용 -> 인덱싱, 슬라이싱

In [ ]:
aa = (1, 2, 3, 4, 5)
print(aa)
print(type(aa))
#aa.append(10) => 변경 불가능

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
aa = (10, 20, 30, 40, 50)
print(aa[0])
print(aa[-2])

10

In [ ]:
aa = (10, 20, 30,(1,2,3), 40, 50, 60, 70, 80, 90)#중첩인덱싱

print(aa[::2])
print(aa[3][0])

(10, 30, 40, 60, 80)
1

In [ ]:
aa = (1, 2, 3)
bb = (4, 5, 6)
cc = aa + bb

print(aa+bb)
print(cc)
print(aa*3)

#튜플 -> 리스트, 리스트 -> 튜플
cc = list(aa)
print(type(cc))
dd = tuple(cc)
print(dd)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
<class 'list'>
(1, 2, 3)

#딕션너리

In [ ]:
# {k:v, k:v}
#순서 없음
#키로 값을 찾는다, 키는 변하지 않는다, 중복안된다, 값은 변한다

#키 => 숫자, 문자, 불린형, 세트
aa = {'김밥' : 2500, '라면' : 3000, '오뎅' : 1000}

#키로 값 찾기
print(aa['김밥'])  
print(aa.get('김밥')) # 사용빈도가 높다!

#print(aa['떡볶이'])  #찾는 키가 없으면 오류
print(aa.get('떡볶이')) # none 값 출력

2500
2500

In [ ]:
# 값 변경
aa = {'김밥' : 2500, '라면' : 3000, '오뎅' : 1000}

aa['라면'] = 3500#있으면 수정
print(aa)

aa['튀김'] = 5000#없으면 추가
print(aa)

In [ ]:
# 정보출력

aa = {'김밥' : 2500, '라면' : 3000, '오뎅' : 1000}

print(type(aa.keys()))
print(aa.values())
print(aa.items())

<class 'dict_keys'>
dict_values([2500, 3000, 1000])
dict_items([('김밥', 2500), ('라면', 3000), ('오뎅', 1000)])

In [ ]:
#삭제
aa = {'김밥' : 2500, '라면' : 3000, '오뎅' : 1000}

aa.pop('김밥')
print(aa)

aa.clear()
print(aa)

{'라면': 3000, '오뎅': 1000}
{}

##세트
- set : {}
- 집합
- 값을 수정할 수 없음, 추가는 가능
- 중복을 허락하지 않음
- 순서 없음

In [ ]:
aa = {1, 2, 3}
bb = {4, 5, 6}
print(type(aa))
aa.add(4)
print(aa)

aa.update(bb) # 세트에 다른 세트가 추가
print(aa)

<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [ ]:
#세트 연산

aa = {1, 2, 3, 4, 5}
bb = {4, 5, 6}
cc = aa.intersection(bb) # 교집합
dd = aa.union(bb)        # 합집합 #중복 배제
print(cc)
print(dd)

{4, 5}
{1, 2, 3, 4, 5, 6}

In [ ]:
#세트 연산자
#리스트에서 지원안됨
# &, |, -, ^

aa = {1, 2, 3, 4, 5}
bb = {4, 5, 6}

print(aa & bb) # 교집합
print(aa | bb) # 합집합
print(aa - bb) # 차집합
print(aa ^ bb) # 여집합

list_aa = list(aa)
set_aa = set(list_aa)

{4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3}
{1, 2, 3, 6}

In [ ]:
#세트 문제 

# 중복된 값을 제거

import random

aa = []

for i in range(20):
  aa.append( random.randint(1,9)) # 1-9

print( "원본 리스트 : ", aa)

bb = list(set(aa))

print("중복 제거 리스트: ", bb)

원본 리스트 :  [5, 9, 8, 6, 5, 6, 2, 7, 6, 3, 2, 3, 4, 6, 7, 1, 8, 5, 3, 7]
중복 제거 리스트:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#딕션너리 - 분배
#면번씩 중복

aa = [1,2,2,2,2,3,3,4,4,5,5,4,6,7,8,8]
dic = {}

for i in aa:
  if dic.get(i) == None:
    dic[i] = aa.count(i)

print(dic)

{1: 1, 2: 4, 3: 2, 4: 3, 5: 2, 6: 1, 7: 1, 8: 2}