<a href="https://colab.research.google.com/github/wang-hsoo/python/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8%2C_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

자료형

In [ ]:
a= 100
b= 1.5678
c= 0.23e5 # 23000.0

print(type(a))
print(type(b))
print(type(c))

In [ ]:
#파이썬 증감연산자
# ++a, a++ 사용안함

a = 10
#print(a++)
print(++a) # a의 양의정수

In [ ]:
#논리 연산자 : and, or ,not, : && ,||

a=5
b=10

# if a < 10 and b < 20 : ==> T and T => T
# if a < 10 or  b < 20 : ==> T or  T => T

#숏 서킷룰 : 좌향만을 결과 값으로 and, or 연산결과를 판별하는 기능

In [ ]:
#표준 입출력 함수

a=10
b=1.5678

print(a,b)
print("a = %d" %a)
print("a = %d, b = %2.f" %(a,b) )

print('{0} * {1} = {2}'.format(a,b,a*b)) #format함수
print(f'a={a}, b={b}')

리스트

In [ ]:
#리스트 선언

a = [] #리스트 선언

aa= [1,2,3,4]
bb= [1,2,3.5,'ab']

# range(start,stop,step) ==> stop 필수, start 생략시 0, step 생략시 1
# range(0,10,1) => (0,1,2,3,4,5,6,7,8,9) =>10
# range(10)     => (0,1,2,3,4,5,6,7,8,9)
print(type(range(0,101,10)))
aa = list( range(0,101,10))
print(aa)

In [ ]:
#리스트 인덱싱
#인덱스(위치) 값(요소) 가져오는 것

aa = [10,20,30,40]
print(aa)
print(aa[1],aa[2])
print(aa[-1],aa[-2])

In [ ]:
#리스트 슬라이싱
#리스트 값에 일부만 취할 때

aa = [0,10,20,30,40,50,60,70,80,90]

print(aa[0:3:1])
print(aa[0:8:2])
print(aa[::2])
print(aa[::-1])
print(aa[-5::])

[0, 10, 20]
[0, 20, 40, 60]
[0, 20, 40, 60, 80]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]
[50, 60, 70, 80, 90]

In [ ]:
#리스트 연산

aa = [10,20,30]
bb = [70,80,90]

print(aa+bb)

In [ ]:

aa = [10,20,30]
aa.append('aaa')
print(aa)

#원하는 위치에 추가
aa.insert(2,55)
print(aa)

In [ ]:
#삭제

aa = [10,20,30,40,50]
aa.pop()
print(aa)

aa.pop(1)
print(aa)

aa = [10,20,30,40,50,60]
aa.remove(30)
print(aa)

In [ ]:
#삭제 -2

aa = [10,20,30,40,50,60,70,80]

del aa[3]
print(aa)

del aa[1:3]
print(aa)

#리스트 전체 지울때

aa = [10,20,30,40,50,60,70,80]

aa.clear()
print(aa)

del aa

In [ ]:
#리스트 정렬

aa = [94,7,68,9,22,47,11,90]

#aa.sort() #리스트 자체가 정렬
print(sorted(aa))
print(aa)

aa.sort()
print(aa)
aa.reverse()
print(aa)

In [ ]:
from IPython.core.application import deepcopy
# 깊은 복사, 얇은 복사

a = 10
b = a
a = 20

print(a,b)

#---------------------------

aa = [10, 20, 30, 40]
#bb = aa #아이디 값이 복사 aa의 주소가 들어감 얇은 복사

bb = deepcopy(aa) # 깊은 복사

# aa = [4, 3, 2, 1]
# print(aa, bb)

aa.reverse() # bb도 역순으로 바뀜
print(aa, bb)

20 10
[40, 30, 20, 10] [10, 20, 30, 40]

In [ ]:
#리스트 함수
#리스트 안에 특정값의 갯수를 세는 함수 => count

aa = [1,2,3,2,3,3,2,3,4,5,6]
print(aa.count(2))

3

##리스트 문제

In [ ]:
##리스트 문제 1
#임의의 리스트에서 원하는 값을 검색하는 pg

aa = [23, 43, 4, 65, 12, 45, 65, 66, 77]
print(aa)

num = int(input("찾는 숫자 입력 : "))

#if num not in aa:
if aa.count(num) == 0:
  print("찾는 값이 리스트에 없음")
else :
  print("찾는 값이 리스트의 %d 위치에 있습니다" %aa.index(num))

[23, 43, 4, 65, 12, 45, 65, 66, 77]
찾는 숫자 입력 : 23
찾는 값이 리스트의 0 위치에 있습니다

In [ ]:
#리스트 문제 2
#리스트에서 조건에 맞는 값만 새로운 리스트에 저장하고 출력

aa = list(range(0,100,5))
bb = []
num = int(input("입력한 값보다 큰값을 검색 : "))

for i in aa:
  if num < i:
    bb.append(i)


print("조건에 맞는 값만 저장한 리스트 : ", bb)

입력한 값보다 큰값을 검색 : 2
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
조건에 맞는 값만 저장한 리스트 :  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
#리스트 문제 3
#중복된 값만 출력

aa = [ 1, 2, 2, 2, 3, 5, 4, 32, 2, 2,2 ,5, 6, 7,]
bb = [] #중복된 값만 저장할 리스트

for i in aa:
  if i not in bb:
    bb.append(i)



print(bb)

[1, 2, 3, 5, 4, 32, 6, 7]