<a href="https://colab.research.google.com/github/wang-hsoo/python/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EB%82%B4%ED%8F%AC_%EB%9E%8C%EB%8B%A4%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#리스트 생성

num = [1, 2 ,3 ,4 ,5, 6, 7, 8, 9, 10]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num = list(range(10))
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
num = []
for i in range(10):
  num.append(i)

num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#리스트 내포
#리스트 안에 for문과 if문을 한 라인에 작성 => 직관적, 실행속도 높아짐

#리스트명 = [ 표현식 for 변수 in 반복대상 if 조건문 ]

num1 = [ i for i in range(10)] # 0 ~ 9
num1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
num2 = [ i * 2 for i in range(10)]
num2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
num3 = [ i * 2 for i in range(10) if i % 3 == 0]
num3

[0, 6, 12, 18]

##함수
- 매게변수 x, 반환값 x
- 매게변수 x, 반환값 o
- 매게변수 o, 반환값 x
- 매게변수 o, 반환값 o => 일반적인 함수

In [ ]:
#매게변수 o, 반환값 o => 일반적인 함수
def f1(num) :
  return num * num

f1(3)

9

In [ ]:
# 키워드 매게변수

def add(n1, n2) :
  return n1 + n2

print( add(10, 20) )
print( add(n2 = 10, n1 = 20) )

30

In [ ]:
#가변매게변수
#함수선언시 매게변수 앞에 * 표시 => 튜플


def sum(*args) :
  res = 0
  for i in args :
    res = res + i
  return res

print(sum(10, 20))

print(sum(10, 20, 30))

30
60

In [ ]:
# 초기값 매게변수

def add ( a= 10, b = 20) :
  return a + b

print(add())
print(add(30, 40))
print(add(b = 30))

30
70
40

In [ ]:
#반환값 여러개 함수

def pm( n1, n2) :
  p = n1 + n2
  m = n1 - n2
  return p,m

res1, res2 = pm(10, 2)
print(res1, res2)

12 8

In [ ]:
#반환값 여러개 함수

def pm( n1, n2) :
  p = n1 + n2
  m = n1 - n2
  return p,m

res1 = pm(10, 2) # res 는 튜플로 받는다
print(res1[1], res1[0])

8 12

##변수 유효 범위
- 지역 변수
- 전역 변수

In [ ]:
def f1() :
  x = 10
  print(x)

#메인코드
f1()

10

In [ ]:
def f1() :
  x = 10
  print(x)

#메인코드
x = 20
f1()
print(x)

10
20

In [ ]:
def f1() :
  global x
  x = 10
  print(x)

#메인코드
x = 20
f1()
print(x)

10
10

##함수문제

In [ ]:
# 전달 받은 값중에서 가장 큰값 반환

def getMax(*args) :
  max = 0
  for i in args :
    if max < i:
      max = i
  return max

def ave (*args) :
  a = 0
  for i in args :
    a = a + i
  average = a / len(args)
  return average

print(getMax(10, 20, 30, 40, 50))

print(getMax(10, 20, 30, 40123, 134242))

print(ave(10, 20))

print(ave(10, 20, 30, 40123, 134242))

50
134242
15.0
34885.0

In [ ]:
#양수만 걸러주는 함수

def positive( x ): #리스트의 주소 받는다! 메인쪽의 리스트 값 변경 가능
  res = []

  res = [ i for i in x if i >= 0]
  # for i in x :
  # if i >= 0:
  #   res.append( i )
  return res


#메인코드
aa = [ 1, -3, 2, 0, -7, 9]
bb =positive(aa)
print(bb)

[1, 2, 0, 9]

In [ ]:
aa = [ 1, -3, 2, 0, -7, 9]
bb = [ i for i in aa if i >= 0]
print(bb)

[1, 2, 0, 9]

##람다함수

In [ ]:
def add ( x, y ) :
  return x + y

add(10, 20)

30

In [ ]:
#람다함수 정의
#간단한 형태의 ( 한줄 표현 ) 함수
#코드간단, 메모리 절약

# ( lambda x, y: x+y ) (10, 20)

(lambda x, y: x + y) (10, 20)

30

In [ ]:
f1 = lambda x, y: x + y
f1(10, 20)

30

##Map 함수
- 여러 요소에 하나의 함수를 한꺼번에 대응
- 저장할 리스트 = list( map(함수명,리스트) )

In [58]:
aa = [2, 4, 5, 6, 7, 8, 9, 2]

def mnul(x):
  return x * 2




bb = list(map(mnul,aa))
print(bb)

[4, 8, 10, 12, 14, 16, 18, 4]

In [59]:
aa = [2, 4, 5, 6, 7, 8, 9, 2]

mnul = lambda x: x * 2

bb = list(map(mnul,aa))
print(bb)

[4, 8, 10, 12, 14, 16, 18, 4]